{% extends 'blog/main.html'%}
{% block main_section %}
   <h3>Страница с контактами</h3>

{% endblock main_section %}
{% block aside_news_section %}
   <h3><b>История края</b></h3>
                  <p>
                      <b>Ларневск</b>
                     История возникновения.
                     Это поселение было основано Ханенками в середине 19 века.
                     <img src="http://www.puteshestvie32.ru/sites/default/files/styles/large/public/images/20200704060830.jpg" class="img-thumbnail">
                     <b>Началось</b>   с того, что на речке Ларень решено было построить винокуренный завод. Перегородили речку, сделали запруду, поселили хутор, который перерос в деревню, и стала она называться Ларневском.
                     По статическим данным в 1858 году здесь было 18 дворов, в 1892 было 33, в 1897 году – 44 с населением 328 жителей. Ради достоверности следует отметить, что в Ларневске было еще одно дворянское поместье. Им владели Пригоровские – потомки казачьего сотенного атамана, менее богатые и менее знаменитые.
                     Построенный при пруде винокуренный завод давал владельцем свыше 6400 ведер водки в год в 60-х годах 19 века.
                     Известно также, что Богдан Иванович Ханенко, среди многочисленных имений которого была деревня Ларневск, был женат на дочери статского советника Н.А.Терещенко, относившегося к дворянскому роду.
                     Занятия населения.
                     Жители Ларневска занимались земледелием. Применялась трехпольная система: каждое из трех полей поочередно засеивалось озимыми, затем яровыми, а на третий год оставалось под паром. И содержалось в рыхлом, чистом от сорняков состоянии.
                     Трехпольная система земледелия носила ярко выраженное зерновое направление, сочеталось с животноводчеством, кормовой базой для которого служили естественные луга и корма, получаемые от отходов зерновых культур. Главными земледельческими орудиями были: соха, деревянная борона из березовых прутьев и дубовых зубьев,
                     серп для жатвы хлебов и цеп для молотьбы.
                     Крестьяне сеяли рожь, пшеницу, ячмень, овес, горох, гречиху, лен, сеяли коноплю, из которой получали пеньку и конопляное масло.
                     Часть урожая зерновых культур и пеньки шла на продажу. Лотоковцы (жители соседней деревни) для пастьбы скота нанимали толоку в хуторе Ларневск, за что должны были возить навоз на помещичьи поля и поставлять рабочих на самые различные работы.
                     В начале 20 века начали высаживать картофель только в помещичьих усадьбах и то по одной, по две грядки, а через 20 лет стали выращивать под соху площадями. В середине 19 века засаживали картофелем поля как зажиточные, так и беднейшие люди. Чаще люди сталкивались с неурожаем хлеба, и тогда выручала картошка.
                     Лес давал людям грибы, ягоды, орехи, смолу, деготь, бересту, из которой делали короба. Большую роль в хозяйстве крестьянина играла солома. Ее скармливали скоту, крыли крыши, она служила подстилкой для скота.
                     Крестьянские строения состояли из хат, амбаров, скотных сараев, гумна, бани.
                     В конце XIX века появилось в Ларневске и другое небольшое поместье, которым владели Пригоровские - потомки казачьего сотника.
                     Со временем в д. Ларневск построили ветряную мельницу. С 1906 года началось осушение болот. После Великой Октябрьской революции в новых условиях бывшие помещичьи имения должны были стать уездами, опорными агрономическими пунктами ведения сельского хозяйства. Так в Поповогорском крае появился совхоз «Ларневский».
                     К 1921 году в нем было 13 лошадей, 30 коров, 18 телят, 3 барана, 18 овец, 10 свиней, 28 поросят.
                     В 1939 в д. Ларневск был образован колхоз «Родина»,
                      <img src="https://forum.vgd.ru/file.php?a=preview&fid=378432&key=717775146" class="img-thumbnail">
                      который просуществовал по 23 февраля 1960 года,
                      а в 1960 году был образован совхоз «Ларневский».
                     05.06.1952 года в Ларневске было организована МТС, которая просуществовала до 1960 года.
                      <img src="https://cs4.pikabu.ru/post_img/2016/05/28/7/1464430702122688257.jpg" class="img-thumbnail">Колхозники в то время работали за трудодни, а рабочие МТС – за деньги. 1962 году была построена хлебопекарня, ароматный хлеб которой до 1993 года могли купить жители Ларневска и многих окружающих его деревень.
                     С 1964 года и до 1977 года жители Ларневска могли три раза в день летать самолетом до города Клинцы – в эти годы работал аэропорт.
                  </p>
                  <a href="https://libryansk.ru/d-larnevsk-iz-proshlogo/#:~:text=Д.%20Ларневск.%20Из%20прошлого.%20История,и%20стала%20она%20называться%20Ларневском" target="_blank">
                      <button class="btn btn-warning">Источник</button>
                  </a>
{% endblock aside_news_section %}

