{% extends 'blog/main.html'%}
{% block main_section %}
   {% for post in news %}
      <div class="alert alert-ligt">
         <h1>{{ post.title }}</h1>
         <p>{{ post.text }}</p>
          <p><a href="{{ post.ref }}" target="_blank"><button class="btn btn-warning">Источник</button>
         </a></p>
          <span class="text-muted">Публикация:{{ post.date }}</span>
         {% if post.author %}
            <p><b> Автор:</b><mark>{{ post.author }}</mark></p>
         {% else %}
            <p><b> Автор:</b><mark>Админ</mark></p>
         {% endif %}
      </div>
   {% endfor %}
{% endblock main_section %}

{% block aside_news_section %}
   <h3><b>Интересные статьи</b></h3>
                  <img src="https://present5.com/presentation/1/182446981_453939122.pdf-img/182446981_453939122.pdf-7.jpg" class="img-thumbnail">
                  <p>
                      <b>Ограничения в движении помешало креативному мышлению</b>
                      Исследовательницы из института Вюрцбурга сравнили результаты тестов при ограничениях как при сидении, так и при ходьбе.
                      В тестах приняли участие студенты-бакалавры в возрасте до 35 лет.
                      Они выполняли тест в большой комнате, в которой они ходили (без траектории или по прямой между двумя метками в комнате) и сидели (свободно или строго за 50 сантиметров от экрана компьютера).
                      Оказалось, что двигательные ограничения снижают количество баллов в тесте как положении сидя, так и при ходьбе (p < 0,01).
                      При этом показатели скорости ответа снижались примерно на один балл из десяти, тогда как количество категорий ответов падало сильнее — с 7,2 до 3,6 при ходьбе и с 7,1 до 3,1 в сидячем положении.
                      При этом результаты между сидячим положением и ходьбой отличались незначительно. Интересно, что при свободном движении результаты теста зависели от частоты моргания.
                      Исследователи считают, что этот процесс связан с дивергентным мышлением, однако это требует дальнейшего анализа. На креативное мышление плохо влияют не только двигательные ограничения, но и прием псилоцибина. К такому выводу пришли ученые, дававшие двум группам людей психоделик и плацебо в недавнем исследовании.
                  </p>
                  <a href="https://nplus1.ru/news/2022/01/18/creative-restriction" target="_blank">
                      <button class="btn btn-warning">Источник</button>
                  </a>
{% endblock aside_news_section %}


