<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="{% url 'blog-home' %}">Radimich</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog-home' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog-contacts' %}">Про нас</a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href="{% url 'public-home' %}">Соль земли</a>
            </li>
          </ul>
        </div>
       <div class="navbar-nav">
            <!-- <a href="" class="btn btn-outline-secondary mr-2">Регистрация</a>-->
           <a href="{% url 'user' %}" class="btn btn-outline-secondary">Войти</a>
       </div>
    </nav>
   <main class="container">
      <div class="row">
          <div class="col-md-8">
               {% block main_section %}

               {% endblock main_section %}
          </div>
          <aside class="col-md-4">
              <div class="bg-info p-3 mb-3 rounded">
                  {% block aside_news_section %}

                  {% endblock aside_news_section %}
              </div>
          </aside>
      </div>
   </main>
</body>
</html>