{% extends 'blog/main.html'%}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Вы успешно вышли из аккаунта</h2>
        <a href="{% url 'user' %}" >Войти в личный кабинет снова</a>
    </div>

{% endblock main_section %}
{% block aside_news_section %}
   <h3><b>История края</b></h3>
                  <p>
                     Ларневск (Ларневская) - деревня Красногорского района Брянской области, Лотаковского сельского поселения, в 5 км к северо-западу от села Лотаки.
                      С 1861 по 1924 в Лотаковской волости Суражского (с 1921 - Клинцовского) уезда (с 1919 - ее административный центр); затем в 3аборской волости, с 1929 в Красногорском районе.
                      В середине ХХ века - одноименный колхоз. До 1959 - центр Ларневского сельсовета; в 1959-1966 в Лотаковском сельсовете, в 1966-2005 в Морозовском сельсовете (с 1980-х годов - его центр).
                      Максимальное число жителей 450 человек (1989).
                      Населенный пункт Ларневск (Ларневская).
                      1916 год – деревня, Черниговская губерния, Суражский уезд, Лотаковская волость.
                      1919 год – деревня, Гомельская губерния, Суражский уезд, Лотаковская волость, Ларневский сельсовет.
                      1929 год – деревня, Западная область, Клинцовский округ, Красногорский район, Ларневский сельсовет.
                      1937 год – деревня, Орловская область, Красногорский район, Ларневский сельсовет.
                      1944 год – деревня, Брянская область, Красногорский район, Ларневский сельсовет.
                      Решением Брянского облисполкома 11 февраля 1966 года переданы деревни Ларневск, Комары и поселок Тисленки Лотаковского сельсовета Клинцовского района в состав Морозовского сельсовета того же района.
                      1970 год – деревня, Брянская область, Красногорский район, Морозовский сельсовет (включал в себя на 1 января 1971 года деревни Александрова, Гасанова Слобода, Козловка, Комары, Ларневск, Морозовка, Чиграй, поселок Никольск, Тесленки).
                      Историко-географический справочник "Административно-территориальное деление Брянского края за 1916-1970 годы", С.П. Кизимова, 1972 год.
                  </p>
                  <a href="https://forum.vgd.ru/post/792/88662/p2774154.htm" target="_blank">
                      <button class="btn btn-warning">Источник</button>
                  </a>
{% endblock aside_news_section %}

